*, *::after, *::before{
    box-sizing: border-box;
}

body{
    background-color: #0A090A;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/main-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30%;
}

.logo{
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

.search{
    display: flex;
    align-items: center;
    flex: 0.8;
}

.search-input{
    border: none;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #AEAEAE;
    flex: 1;
}

.search-input::placeholder{
    color: #AEAEAE;
    opacity: 1;
}

.search-button{
    background-color: transparent;
    border: none;
    padding: 10px 18px;

}


.user{
    display: flex;
    align-items: center;
}

.avatar{
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.title{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 7px;
}

.title-en{
    font-size: 20px;
    line-height: 23px;
    color: #787878;
    margin-bottom: 38px;
    display: inline-block;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.movie-info{
    display: flex;
    align-items: center;
}

.tag{
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 20px;
}

.country{
    font-size: 16px;
    line-height: 19px;
    margin-right: 33px;
}

.play{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.play::before{
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('../img/play.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 15px;
}

.more{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.more::after{
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('../img/play.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(90deg);
    margin-left: 15px;
}

.content{
    background: #fff;
    border-radius: 3px;
    color: #000;
    padding: 3% 4%;
    display: flex;
    justify-content: space-between;
}

.short-info{
    margin-right: 1.5%;
}

.poster{
    display: block;
    margin-top: -40%;
    margin-bottom: 20px;
}

.button{
    background: #FF8F27;
    padding: 10px 44px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
}

.actors-title{
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    padding-left: 15px;
    margin-bottom: 10px;
}

.actors-list{
    margin: 0;
    list-style: none;
    padding-left: 15px;
    line-height: 150%;
    text-decoration: underline;
}

.full-info{
    flex: 0.97;
}

.tabs{
    margin-bottom: 4%;
    display: flex;
    align-items: center;
}

.tabs-item{
    color: #000000; 
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
}

.tabs-item:not(:last-child){
    margin-right: 4%;
}

.tabs-item-active{
    color: #FF8F27;
}

.full-content{
    display: flex;
    justify-content: space-between;
}


.tabs-content{
    display: none;
    margin-right: 70px;
}
.visible{
    display: block;
}

.text{
    font-size: 16px;
    line-height: 140%;
    margin-top: 0;
}

.subscribe-title{
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 14px;
    margin-top: 0;
}

.subscribe-form{
    display: flex;
    margin-bottom: 48px;
}

.subscribe-input{
    border: none;
    background: rgba(241, 241, 241, 0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #AEAEAE;
    flex: 1;
}

.subscribe-button{
    background: #FF8F27;
    border-radius: 0px 5px 5px 0px;
    border: none;
    padding: 12px;
}

/* MEDIA */
@media(max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .tabs-item{
        font-style: 16px;
    }

}

@media (max-width: 992px){
    .container{
        max-width: 740px;
    }
    .tabs{
        flex-wrap: wrap;
    }
    .tabs-item{
        line-height: 2;
        flex-basis: 20%;
    }
    .full-content{
        flex-wrap: wrap;
    }
    .tabs-content{
        margin-bottom: 5%;
    }
    .text{
        font-size: 14px;
    }
    .actors-list{
        font-size: 14px;
    }
    
}

@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .more{
        display: none;
    }
    .tabs-content{
        margin-right: 0;
    }
    .tabs-item{
        flex-basis: 33%;
    }
    .movie-info{
        flex-wrap: wrap;
    }
    

}

@media (max-width: 578px){
    .container{
        max-width: 90%;
    }
    .header{
        flex-wrap: wrap;
    }
    .search{
        flex-basis: 100%;
        order: 3;
        margin-top: 5%;
    }
    .content{
        flex-wrap: wrap;
    }
    .full-info{
        flex-basis: 100%;
    }
    .actors-title{
        display: none;
    }
    .actors-list{
        display: none;
    }
    .short-info{
        margin-bottom: 5%;
    }
    .play{
        flex-basis: 100%;
        margin-top: 10%;
    }
    .short-info{
        margin-right: 0;
    }
    .button{
        width: 100%;
    }
    .poster{
        display: inline-block;
        width: 100%;
        margin-top: -20%;
    }

}